<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
        <dict>
            <key>frames</key>
                <dict>
                    <key>stepicon10.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{149,208}</string>
                        <key>spriteSourceSize</key>
                        <string>{149,208}</string>
                        <key>textureRect</key>
                        <string>{{498,628},{149,208}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <key>stepicon11.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{142,210}</string>
                        <key>spriteSourceSize</key>
                        <string>{142,210}</string>
                        <key>textureRect</key>
                        <string>{{681,463},{142,210}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <key>stepicon12.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{150,211}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,211}</string>
                        <key>textureRect</key>
                        <string>{{390,786},{150,211}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon13.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{157,188}</string>
                        <key>spriteSourceSize</key>
                        <string>{157,188}</string>
                        <key>textureRect</key>
                        <string>{{522,438},{157,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon14.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{246,172}</string>
                        <key>spriteSourceSize</key>
                        <string>{246,172}</string>
                        <key>textureRect</key>
                        <string>{{250,612},{246,172}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon15.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{247,172}</string>
                        <key>spriteSourceSize</key>
                        <string>{247,172}</string>
                        <key>textureRect</key>
                        <string>{{1,524},{247,172}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon16.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{249,172}</string>
                        <key>spriteSourceSize</key>
                        <string>{249,172}</string>
                        <key>textureRect</key>
                        <string>{{271,438},{249,172}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon17.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{299,199}</string>
                        <key>spriteSourceSize</key>
                        <string>{299,199}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{299,199}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon6.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{133,172}</string>
                        <key>spriteSourceSize</key>
                        <string>{133,172}</string>
                        <key>textureRect</key>
                        <string>{{1,829},{133,172}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon7.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{140,212}</string>
                        <key>spriteSourceSize</key>
                        <string>{140,212}</string>
                        <key>textureRect</key>
                        <string>{{248,786},{140,212}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon8.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{142,209}</string>
                        <key>spriteSourceSize</key>
                        <string>{142,209}</string>
                        <key>textureRect</key>
                        <string>{{542,779},{142,209}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepicon9.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{137,209}</string>
                        <key>spriteSourceSize</key>
                        <string>{137,209}</string>
                        <key>textureRect</key>
                        <string>{{686,779},{137,209}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname10.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{269,128}</string>
                        <key>spriteSourceSize</key>
                        <string>{269,128}</string>
                        <key>textureRect</key>
                        <string>{{292,308},{269,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname11.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{268,131}</string>
                        <key>spriteSourceSize</key>
                        <string>{268,131}</string>
                        <key>textureRect</key>
                        <string>{{1,391},{268,131}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname12.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{325,116}</string>
                        <key>spriteSourceSize</key>
                        <string>{325,116}</string>
                        <key>textureRect</key>
                        <string>{{685,202},{325,116}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname13.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{335,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{335,129}</string>
                        <key>textureRect</key>
                        <string>{{348,92},{335,129}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname14.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{289,130}</string>
                        <key>spriteSourceSize</key>
                        <string>{289,130}</string>
                        <key>textureRect</key>
                        <string>{{1,259},{289,130}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname15.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{357,82}</string>
                        <key>spriteSourceSize</key>
                        <string>{357,82}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{357,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname16.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{267,141}</string>
                        <key>spriteSourceSize</key>
                        <string>{267,141}</string>
                        <key>textureRect</key>
                        <string>{{685,320},{267,141}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname17.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{345,83}</string>
                        <key>spriteSourceSize</key>
                        <string>{345,83}</string>
                        <key>textureRect</key>
                        <string>{{1,85},{345,83}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname6.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{318,83}</string>
                        <key>spriteSourceSize</key>
                        <string>{318,83}</string>
                        <key>textureRect</key>
                        <string>{{328,223},{318,83}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname7.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{325,87}</string>
                        <key>spriteSourceSize</key>
                        <string>{325,87}</string>
                        <key>textureRect</key>
                        <string>{{1,170},{325,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname8.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{245,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{245,129}</string>
                        <key>textureRect</key>
                        <string>{{1,698},{245,129}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>stepname9.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{245,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{245,129}</string>
                        <key>textureRect</key>
                        <string>{{893,463},{245,129}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <key>steptitlebg.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{351,89}</string>
                        <key>spriteSourceSize</key>
                        <string>{351,89}</string>
                        <key>textureRect</key>
                        <string>{{360,1},{351,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>xingxing.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{59,56}</string>
                        <key>spriteSourceSize</key>
                        <string>{59,56}</string>
                        <key>textureRect</key>
                        <string>{{563,308},{59,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <key>xingxing1.png</key>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSize</key>
                        <string>{59,56}</string>
                        <key>spriteSourceSize</key>
                        <string>{59,56}</string>
                        <key>textureRect</key>
                        <string>{{624,308},{59,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </dict>
            <key>metadata</key>
            <dict>
                <key>format</key>
                <integer>3</integer>
                <key>pixelFormat</key>
                <string>RGBA8888</string>
                <key>premultiplyAlpha</key>
                <false/>
                <key>realTextureFileName</key>
                <string>stepiconlist.png</string>
                <key>size</key>
                <string>{1024,1024}</string>
                <key>smartupdate</key>
                <string>$TexturePacker:SmartUpdate:25b18cbde54c05ba764115d0dc3b66d4:58206606e1471290284fd20d898cdf71:96fb3d46aab20ec9eb9704de1ab972b6$</string>
                <key>textureFileName</key>
                <string>stepiconlist.png</string>
            </dict>
        </dict>
    </plist>